/**
 * @file
 * YAML block CodeMirror styling
 */

.form-type-yamlblock-codemirror .CodeMirror {
  border: 1px solid #ccc;
  font-size: 13px;
  height: auto;
}

.form-type-yamlblock-codemirror.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
